.head {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  padding: 5%;
}
.first {
  margin: 0;
  height: 50vh;
}
.main {
  padding-bottom: 5%;
}
.grid {
  background-color: #746efb;
}
